.Title {
    color:rgba(69, 67, 67, 0.75);
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
    }
    
    .Monte,
    .Aayush,
    .Akshay,
    .Aditya {
    color:rgba(69, 67, 67, 0.75);
    font-size: 32px;
    font-weight: 400;
    margin: 8px 0;
    }
    
    .Monte a,
    .Aayush a,
    .Akshay a,
    .Aditya a {
    color: #007bff ;
    text-decoration: none;
    transition: color 0.3s ease;
    }
    
    .Monte a:hover,
    .Aayush a:hover,
    .Akshay a:hover,
    .Aditya a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.linkedin-icon:visited {
    color: #007bff !important; /* or any other color */
  }